.ma_left_1 {
    margin-left: 10px;
}

.line_1{
line-height: 50px;
}

.flex{
display: flex;
}

.title_align{
top: 25px;
transform: translateY(-50%);
}

.form__container{
    height: 160px;
    border: 1px solid #000;
  }
  .width-20{
    width: 20%;
  }
  .width-50{
    width: 50%;
  }
  .width-80{
    width: 80%;
  }
  .width-100{
    width: 100%;
  }
  .height-70{
    height: 70%;
  }
  .twoGrid__box__custom {
    padding: 10px;
    height: calc(30% - 27px);
    border: 1px solid #DBDBDB;
    border-top: 0;
  }
  .height-fix-50{
    height: 50px;
    line-height: 50px;
  }

  .line-height-50{
    line-height: 50px;
  }
  .space-between{
    justify-content: space-between;
  }

  .padding-5{
    padding: 5px;
  }

  .top-25{
    top: 25px;
    transform: translateY(-50%);
  }


  .flex-start{
    justify-content: flex-start;
  }
  .flex-end{
    justify-content: flex-end;
  }

  .height-md{
    height: 25px;
    width: 25px;
  }

  .margin-10{
    margin-right: 10px;
  }
  .form__container .input-box{
    width: 40px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .form__container div .input-box-custom{
    bottom: 25px;
    transform: translateY(50%);
  }

.height-35{
    height: 35%;
  }

  .height-40{
    height: 40%;
  }
  .height-45{
    height: 45%;
  }
  
  .height-58{
    height: 58%;
  }
   .height-60{
    height: 60%;
  }
  
  .height-65{
    height: 65%;
  }
  
  
  .tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
  width: auto;             /* 툴팁 영역의 넓이를 설정 */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;       /* 절대 위치를 사용 */
  z-index: 1;
}



.tooltip:hover .tooltiptext {
  visibility: visible;      /* hover 이벤트 발생시 영역을 보여줌 */
}

.tooltip .tooltip-top {
  width: 120px;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}
