.tableClass {
	background-color : rgb(82,86,89);
	color: #fff;
	height: 100%;
    width: 100%;
	
	padding: 10px;
}


::placeholder {
	color: white;
}

.dateClass {
	color:white;
	font-size: 12px;
}

.thNeed::before {
	content: "*"
}

#moblInput {
	color: white;
}

.tdInputClass {
	font-size: 12px;
}

.ptntInputClass {
	margin-right: 10px;
}