.searchDaily__div {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-right : 50px;
}


.inputDateStart {
	margin-right : 7px;
	
	width : 120px;
}

.inputDateEnd {	
	margin-left : 7px;
	margin-right : 7px;
	
	width : 120px;
}

.ptntNmClass {
	margin-right : 7px;
}

.ptntNmInputClass {
	margin-right : 7px;
	
	width : 140px;
}

.searchKubun__div {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-right : 50px;
}

.searchKubun {
	margin-right : 7px;
}

.labelInputClass {
	margin-right : 5px;
}

.pacsUser__div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selectClass {
	margin-left : 10px;
	margin-right : 10px;
	
	width : 110px;
}

.icon__margin {
	margin-right : 10px;
}

.receipt__icon::before {
	content: "\e5a0";
	color: #218ECB;
}